// This is the styling for the About page

.beginning-body {
    margin-top: 100px;
    margin-bottom: 80px;
    .display-flex();
    flex-wrap: wrap;

    @media @phones {
        .display-flex();
        flex-direction: column;
    }
}

.body-pieces {
    .body-designer();
    .half-width();
    .adapted-h3();

    @media @phones {
        .maximum-width();
        .adapted-h3();
    }
}

.adapted-h3(){
    h3 {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}

.body-designer {
    padding-top: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid black;
    padding-bottom: 50px;
}