// This is the styling for the About page

// We will need all of the half widths for the mobile design
// Since we are designing for mobile first I will leave them commented in

.beginning-body {
    margin-top: 350px;
    .display-flex();
    flex-wrap: wrap;
}

.body-piece-1 {
   padding-top: 40px; 
   border: 2px solid black;
   //padding: 2px;
   width: 400px;
   .half-width();
   padding-bottom: 50px;
   .adapted-h3();
}

.body-piece-2 {
   .half-width();
   padding-top: 40px;
   border: 2px solid black;
   padding-bottom: 50px;
   .adapted-h3();
}

.body-piece-3 {
    padding-top: 40px;
    border: 2px solid black;
    .half-width();
    padding-bottom: 50px;
    .adapted-h3();
}

.body-piece-4 {
    padding-top: 40px;
    border: 2px solid black;
    .half-width();
    padding-bottom: 50px;
    .adapted-h3();
}

/*.img-display(){
        padding-bottom: 100px;
}*/

.adapted-h3(){
    h3 {
        padding-top: 10px;
        padding-bottom: 15px;
    }
}