// This the style page for the footer. It is to still be determined if it is going to be for the entire page, or just the about


.footer-container {
    border: 2px solid red;

    .fa {
        padding: 15px;
        font-size: 2rem;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
        opacity: 0.6;
        
      }

      
    
      .fa-facebook {
          color: black;
      }

      .fa-twitter {
          color: black;
      }
}

