// nav {
//     .nav();
//     margin-top: 2%;

//     a {
//        .button();
//     }
// }

.nav-container {
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
    margin: 10px;
    a {
        text-decoration: none;
        color: @txt-color;
        padding: 10px;
    }
}